.a1
{
     text-decoration: none;
    color: aliceblue;
}
.f1
{
    width: 800px;
    background-color: rgb(245, 222, 179);
    border-style: solid;
    border-color: rgb(131, 106, 59);
    margin-top: 0px ;
    margin-bottom: 61px;
    bottom: 20px;

}
.stateselector
{
    width: 100%;
}